{% extends 'home/base.html' %}

{% block title %}
<title>Lab Rules</title>
{% endblock %}

{% block content %}
<div class="container lab-rules">
    <h2>Rules to follow in all labs</h2>

    <ul class="all-lists">
        <li><a href="#logbook">About Lab Logbook</a></li>
        <li><a href="#handling-comp">About handling computers</a></li>
        <li><a href="#lab-cleanliness">About About Lab cleanliness</a></li>        
    </ul>    

    <h2 id="logbook">About Lab Logbook</h2>
    <ol>
        <li>Student must do entry in the Lab Log book register</li>
        <li>Student must do all entries correctly in the logbook, i.e. sn, system name, sap id, student name and sign</li>
        <li>Student must forword the logbook to the next student after completing his entry</li>
        <li>Students must complete the logbook entries in the first hour of lab time</li>        
        <li>Student must ensure of doing entry in logbook before leaving the lab</li>
        <li>It's students whole responsibilty to do entry in lab logbook</li>
    </ol>

    <h2 id="handling-comp">About handling computers</h2>
    <ol>
        <li>Student must start the computer only after instructed by the faculty</li>
        <li>Student must shutdown the computer properly before leaving the lab</li>
        <li>Student must switch off the power buttons after shutting down the computer</li>
        <li>Student must arrange the chair before leaving the lab</li>
        <li>Student must handle the computers carefully</li>
        <li>Student must not move or bend computer angle and position</li>
        <li>Student must not put any thing on the computer table except pen, pencil and notebook</li>
        <li>Student must keep their bags at one place in the lab instucted by the faculty</li>
        <li>Student must keep water bottle down the computer table</li>
        <li>The computer only have four connections, usb keyboard, usb mouse, power adapter and network port</li>
        <li>Student must get familiar with computer connections</li>
        <li>If computer is not starting then check for computer connections, else inform the lab assistant or faculty</li>                
        <li>If student find anything unusual with the computers, immediately inform to the lab assistant or faculy</li>        
    </ol>

    <h2 id="lab-cleanliness">About Lab cleanliness</h2>
    <ol>
        <li>Student must not bring eatables in the lab</li>
        <li>Student must not make the lab untidy by throwing paper, pen, pencil etc in the lab</li>
    </ol>
</div>

{% endblock%}